.home-section {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-top: 160px;
}

.article-home {
    width: 50%;
    height: 100%;
    padding-right: 30px;
}

.article-home .content {
    margin-bottom: 20px;
}

.imgBox {
    align-items: center;
    text-align: right;
    width: 50%;
    height: 100%;
}

.products * {
    color: #4f4f4f;
}

.products .category-filter {
    margin-top: 43px;
}

.products .category-filter {
    display: flex;
    justify-content: space-between;
}

.products .category-filter .filter p {
    display: inline-block;
    padding-right: 10px;
    letter-spacing: 0.05rem;
}

.article-products {
    display: flex;
    justify-content: space-between;
}

.article-products .article {
    margin-top: 23px;
    max-width: 332px;
}

.article-products .article a img {
    border-radius: 12px;
}


.article-products .article .brand {
    max-width: 332px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.05rem;
}

.article-products .article p {
    text-align: justify;
    letter-spacing: 0.05em;
}

.article-products .article .price {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 5px;
}

.article-products .article .discount {
    display: inline-block;
    margin-left: 14px;
    font-weight: 300;
    text-decoration: line-through;
    color: #FF6363;
}

.article-products a {
    color: #fff;
}

.article-products .button-bar {
    display: flex;
    justify-content: left;
    align-items: center;
}

.about .about-section {
    display: flex;
    justify-content: right;
    justify-items: center;
    align-items: center;
    padding-top: 160px;
}

.about .about-section .article-about {
    text-align: right;
    width: 704px;
}

.about .about-section .article-about span.name {
    display: block;
    font-weight: 400;
    letter-spacing: 0.05em;   
}

.contact .contact-section {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-top: 160px;
}

.contact .contact-section .article-contact {
    text-align: center;
    width: 450px;
}

.contact .contact-section .article-contact .content {
    margin-bottom: 20px;
}

.contact .contact-section .article-contact ul p {
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 0.05rem;
}

.contact .contact-section .article-contact .info li a img {
    /* display: inline-block; */
    width: 30px;
    height: 30px;
    align-items: center;
    text-align: center;
    margin-top: 20;
}

.soci-icons {
    display: flex;
    justify-content: center;
}

.soci-icons li a img {

    margin-right: 15px;
    margin-left: 15px;
}

.follow-us {
    margin-bottom: 20px;
}
