nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding-top: 62px;
    /* background-color: rgba(255, 0, 0, 0.596); */
}


nav .column {
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: space-between; */
}


.column.menulist ul li a {
    margin-left: 32px;
}
.logo {
    font-size: 2rem;
}



/* Navbar white  */
/* 
.home .container .navbar .column .logo {
    color: white;
    font-weight: 700;
    letter-spacing: 0.05em;
}
.home span.store {
    font-weight: 400;
}
.home .container .navbar .column.menulist ul li a {
    color: #fff;
    align-items: center;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.05em;
}
.home .container .navbar .column.menulist ul li  {
    height: 18px;    
} */


/* Navbar dark  */

/* 
.products .container .navbar .column .logo {
    color: #4f4f4f;
    font-weight: 700;
    letter-spacing: 0.05em;
}
.products span.store {
    font-weight: 400;
    color: #4f4f4f;
}
.products .container .navbar .column.menulist ul li a {
    color: #c4c4c4;
    align-items: center;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.05em;
}
.products .container .navbar .column.menulist ul li:nth-child(2) {
    color: #4f4f4f;
} 
*/


